.overskrift {
    background: rgb(3,87,157);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
h1 {
    color: antiquewhite;
}

body {
    font-family: "Trebuchet MS";
}
.copenhagen img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 5px;
}

.flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 20px;
}

.flex img{
  width: 96%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

footer{
    background-color:#03579DFF;
    color: white;
    position: absolute;
    bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 98%;
}



