<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilføj turistattraktion</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Tilføj turistattraktion:</h1>
<form action="#" th:action="@{/attractions/save}" th:object="${attraction}" method="post">
    <label>Navn:
        <input th:required="required" type="text" th:field="*{name}"/>
    </label>
    <br/>
    <label>Beskrivelse:
        <input th:required="required" type="text" th:field="*{description}"/>
    </label>
    <br/>
    <label>By:
        <input th:required="required" type="text" th:field="*{city}"/>
    </label>
    <br/>
    <label>Kategori:</label>
    <br/>

    <div th:each="tag: ${tags}">
        <label th:text="${tag.toString()}" th:for="${tag}"></label>
        <label>
            <input th:id="${tag}" th:value="${tag}" th:field="*{tags}" type="checkbox"/>
        </label>
    </div>


    <button type="submit">Tilføj</button>

</form>
<form th:action="@{/attractions}">
    <button type="submit">Tilbage</button>
</form>
</body>
</html>