<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Add Touristattractions:</h1>
<form action="#" th:action="@{/attractions/save}" th:object="${attraction}" method="post">
    <label>Name
        <input type="text" th:field="*{name}"/>
    </label>
    <br/>
    <label>Description
        <input type="text" th:field="*{description}"/>
    </label>
    <br/>
    <label>City
        <input type="text" th:field="*{city}"/>
    </label>
    <br/>
    <label>Tags</label>
    <br/>

    <div th:each="tag: ${tags}">
        <label th:text="${tag.toString()} "></label>
        <input th:value="${tag}" th:field="*{tags}" type="checkbox"/>
    </div>

    <button type="submit">Add</button>

</form>
</body>
</html>